@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;500&display=swap');

@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}

$fist-color: #D83F87;
$second-color: #2A1B3D;
$third-color: #44318D;
$fourth-color: #FAED26;
$fifth-color: #F79E02;
$sixth-color: #0074E1;
body{
    background:black;
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}
h1{
    font-weight: 500;
}
#cN {
    border: 1px red solid;
    padding: .5rem 1rem;
    margin-left: 1rem;
    border-radius: 10px;
    text-align: center;
    background: red;
    position: relative;
    overflow: hidden;
}


.animate{
    margin-top: 2rem;
    background-color:black;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.animate::before{
    content: "";
position: absolute;
width: 350px;
height: 350px;
border-radius: 10px;
    background: conic-gradient(from 55deg
    ,$fist-color,$fist-color 60deg
    , $second-color 60deg, $second-color 120deg
    , $third-color 120deg, $third-color 180deg
    , $fourth-color 180deg, $fourth-color 240deg
    , $fifth-color 240deg, $fifth-color 300deg
    , $sixth-color 300deg, $sixth-color 360deg
    ); 
  
animation: spin 10s infinite linear ;
}

button{
   position: absolute;
   width: 230px;
   height: 230px;
   background:black;
   border: none;
   border-radius: 10px;
   color: white;
   text-transform: uppercase;
   font-family: "Lobster", cursive;
   font-size: 22px;
   letter-spacing: 1px;
}
